<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div clas="form-group">
        <label>Buscar: </label>
        <input
              type="text" placeholder="Search movie"
              class="form-control"
              [(ngModel)]="search"
              name="search"
              (keyup.enter)="searchMovie()">
      </div>
    </div>
  </div>
<hr>
  <div class="row animated fadeIn fast">
      <div class="card-columns">

          <div class="card" *ngFor="let movie of movieService.movies">
            <img class="card-img-top" [src]=" movie | movieImage " [alt]="movie.original_title">
            <div class="card-body">
              <h5 class="card-title">{{ movie.original_title }}</h5>
              <p class="card-text text-justify"> {{ movie.overview | slice:0:250 }}...</p>
              <button type="button"
                      [routerLink]="['/movie', movie.id, 'search', search]" 
                      class="btn btn-outline-primary btn-block">
                  Show more
              </button>
            </div>
          </div>

      </div>
  </div>
</div>